body {
    margin: 0
    color: #eee;
}

.chart {
    margin: auto;
    color: #333;
    width: 600px;
    position: relative;
}

.chart-title {
    font: 600 18px Arial, sans-serif;
}

.chart-list {
    list-style: none;
    font: 400 14px Arial, sans-serif;
    padding: 0;
}

.chart-item {
    margin: 6px 0;
}

.chart-score {
    font-size: 16px;
    font-weight: 600;
}

.spinner {
    position: absolute;
    right: 0;
    top: 0;
}