html
    head
        meta(charset='UTF-8')
        title Basketbal championship chart
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='spinner.css')
        script(src='/jquery.min.js')
        script(src='/script.js', async='true')
    body
        .chart
            h1.chart-title
            ul.chart-list
            .spinner