body {
    margin: 0;
    padding: 50px;
}

section {
    float: left;
    width: 400px;
    background: #ccc;
    color: #333;
    border: 1px solid #999;
}

section.active {
    background: #eee;
}

h2 {
    padding: 10px;
    margin: 0;
    font: 600 18px Arial, sans-serif;
    cursor: pointer;
}

h3 {
    padding: 5px 10px;
    margin: 0;
    font: 600 16px Arial, sans-serif;
    cursor: pointer;
}

article {
    float: left;
    width: 198px;
    border: 1px solid #666;
}

p {
    display: none;
    background: #fff;
    margin: 0;
    padding: 10px;
    font: 400 14px Arial, sans-serif;
}

article.active p {
    display: block;
}

article.active h3 {
    background: #ddd;
}